[user]
	name = Harshwardhan
	email = 135024692+harsh-m-patil@users.noreply.github.com
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/etc/profiles/per-user/harshmpatil/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/etc/profiles/per-user/harshmpatil/bin/gh auth git-credential
